{% extends "base.html" %}
{% block title %} My Profile Page {% endblock %}
{% block content %}
    <section class="contact-section">
            <div class="contact-info">
                <h1>Contact</h1>
                <p>Looking forward to hearing from you</p>
                <div>
                    <strong>Phone</strong>
                    <p>+63-9938810053</p>
                </div>
                <div>
                    <strong>Email</strong>
                    <p>aujscdelacruzrenier@gmail.com</p>
                </div>

                <strong>Follow me </strong>   
                <div class="social-media">
                    <a class="facebook" href="https://www.facebook.com/leblanccc03" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a class="linkedin" href="https://www.linkedin.com/in/renier-dela-cruz-2ab375280/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>

            <form class="contact-form">
                <div class="row">
                    <div class="field">
                        <label>First Name *</label>
                        <input type="text" required>
                    </div>
                    <div class="field">
                        <label>Last Name *</label>
                        <input type="text" required>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <label>Email *</label>
                        <input type="email" required>
                    </div>
                    <div class="field">
                        <label>Subject</label>
                        <input type="text">
                    </div>
                </div>
                <div class="field-full">
                    <label>Message</label>
                    <textarea rows="3"></textarea>
                </div>
                <button type="submit" class="submit-btn">Submit</button>
            </form>
    </section>
{% endblock %}