{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <div class="p-3 mb-2 bg-black text-primary-emphasis">

        <div>
        <img src="/static/images/Me.jpg" class="img-fluid rounded" alt="Responsive image">
        </div>
        
        <div class="profile-description">
            <h1>
                Renie G. Dela Cruz
            </h1>
            <h6>BS CPE 2-2</h6>
            <p>Hello! I'm an aspiring cybersecurity professional with a passion for protecting digital systems and solving complex security challenges.</p>
        </div>

    </div>

{% endblock %}