{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
    <div class="home-page p-3 mb-2">
        <div>
            <img src="{{ url_for('static', filename='images/Me.svg') }}" class="img-fluid rounded" alt="Renier Dela Cruz Profile Picture">
        </div>
        <div class="profile-description">
            <h3>About Me</h3>
            <p>Aspiring cybersecurity professional with a passion for protecting digital systems and solving complex security challenges.</p>
            <a href="/works" class="cta-button">Works</a>
        </div>
    </div>
{% endblock %}
