{% extends "base.html" %}
{% block title %} My Profile Page {% endblock %}
{% block content %}
    <section class="resume-section">
        <div class="container">
            <h1 class="section-title">
            <span>Profile</span>
            </h1>
            
            <div class="resume-content">
                <div class="experience-header">
                    <h2>Education</h2>
                </div>
                
                <div class="timeline">
                    <div class="timeline-item">
                        <div class="timeline-date">
                            <h3>2023 - Present</h3>
                            <p>College</p>
                        </div>
                    
                    <div class="timeline-content">
                        <h4>Bacherlor of Science in Computer Engineering</h4>
                        <p class="company-name">Polytechnic University of the Philippines - Sta.Mesa Main Campus</p>
                        <p class="company-location">1016 Anonas, Sta. Mesa, Manila, Kalakhang Maynila</p>
                        
                        <div class="job-description">
                            <p>Computer Engineering is a four-year degree program that deals with the study of computer systems. The curriculum covers both software and hardware and develops the student's ability to analyze computer systems, designs, construction of electronic equipment and its peripherals.</p>
                            
                        </div>
                    </div>

                </div>
            </div>

            <div class="resume-content">
                <div class="experience-header">
                    <h2>Skills</h2>
                </div>
                
                <div class="skill-timeline">
                    <div class="skill-timeline-item">
                        <ul>
                          <li>Communication</li>
                          <li>Probleme Solving</li> 
                          <li>Html</li> 
                          <li>CSS</li>
                          <li>JavaScript</li>
                          <li>Python</li>
                          
                        </ul>
                    </div>
                    


                </div>
            </div>
        </div>
    </section>



{% endblock %}

